.link {
    stroke: #ccc;
  }
  
  .node {
    stroke: #999;
    stroke-width: 1;
  }
  
  .node:hover {
    stroke-width: 2;
  }
  
  body {
      font-family: "Open Sans";
      margin: 0;
  }
  
  #main {
      margin: 20px;
  }

  h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
  }
  
  .legend{
    text-align: center;
    margin-top: auto;
  }
  
  label {
    text-align: center;
    display: block;
    margin-bottom: 10px;
  }

  .search-container {
    text-align: center;
    margin-top: 15px;
  }

  #searchField {
    margin-top: 0;
    padding: 5px 15px;
    font-size: 0.75em;
    width: 200px;
    display: inline-block; 
}

.detail-info-card {
    position: absolute;
    top: 180px;
    right: 50px;
    width: 500px;
    height: 500px;
    overflow: auto;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

#forceDirectedGraph {
    margin-right: 300px;
}

#detailInfoCard strong {
    font-weight: bold;
}